page-home {


}
.bgrecipes-image{
  --background: url('../assets/imgs/recipesbg2.pngg') no-repeat center center fixed;
  background: url('../assets/imgs/recipesbg2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.linear {
  --background: linear-gradient(#4786ef, #f4f5f8);
}
