<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu">

      </ion-icon>
    </button>
    <ion-title>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bgrecipes-image">
<div *ngIf="recipes">


  <ion-card *ngFor="let recipe of recipes"
  (click)="recipeSelected($event,recipe)">

    <ion-card-header>

      <ion-card-title>{{recipe.title}}</ion-card-title>
    </ion-card-header>

<img src="{{recipe.recipe_picture}}" />


<ion-item>
  <ion-badge color="success">Calories : {{recipe.calories}}</ion-badge>
</ion-item>
<ion-card-content wrap>
  {{recipe.description}}
</ion-card-content>
<button ion-button class="btn btn-primary">See more<ion-icon name="more"></ion-icon></button>
  </ion-card>

  <div [hidden]="recipes || errMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
</ion-content>
